__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv
wandb/
outputs*/
eval_logs/*
!eval_logs/.gitkeep
experiments/logs/*
!experiments/logs/.gitkeep
rollouts/*
!rollouts/.gitkeep
CKPT/*
!CKPT/.gitkeep
*.log
.DS_Store
